
  <ion-app>
    <ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides>

        <ion-slide>
          <div class="slide">
            
            <ion-text color="yellow">
              <h1 class="ion-text-align-center">WELCOME</h1>
            </ion-text>
            <h1 ><ion-button routerLink="/signin" fill="dark">Continue <ion-icon name="sparkles-outline"></ion-icon></ion-button></h1>

          </div>
        </ion-slide>

      </ion-slides>
    </ion-content>
  </ion-app>

