<ion-header>
  <ion-toolbar>
    <b><ion-title>ABOUT</ion-title></b>

    <ion-buttons slot="end" routerLink="/search">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="chevron-forward-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Description Product</ion-card-subtitle>
      <ion-card-title>JUS JIEBEE</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/satu.jpg">
      <b>Jus Jiebee</b> is a product of Rose Honey and Herbs is a health drink that has a combination of health
      foods that are proven to be effective in improving health and one of the ways to lower cholesterol in the body.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Description Product</ion-card-subtitle>
      <ion-card-title>TROPICANA TWISTER</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/twister.jpg">
      <b>Tropicana Twister</b> is a range of refreshing and delicious fruit drinks. 
      All of our fruit juices are made with real fruit juice that comes close to the real fruit experience,
      offering all the refreshing and revitalising goodness of real fruits.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Description Product</ion-card-subtitle>
      <ion-card-title>JUICE DELIMA</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/delima.JPG">
      <b>Juice Delima</b> has fruit contains many substances.
      Pomegranate fruit is rich in antioxidants, vitamin C, vitamin E, vitamin B9, and potassium.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Description Product</ion-card-subtitle>
      <ion-card-title>JUICE NUSANTARA</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/nusantara.jpg">
      <b>Juice Nusantara</b> is then reached with a formula of plant-based ingredients which contains 1001 benefits
      to help overcome various chronic diseases that can affect your health. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Feedback Customer
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/cus1.jfif">
      <img src="assets/cus2.jfif">
    </ion-card-content>
  </ion-card>

</ion-content>
